.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

ion-select {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}