<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>error</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Error Page</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Error en el sistema</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-title>Ha sucedido un error</ion-title>
        <p>Será redirigido a la página de inicio en unos segundos...</p>
        <p>Si no es redirigido automaticamente <br> presione <a [routerLink]="['/home']">aqui</a></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>