<ion-header>
  <ion-toolbar>
    <ion-title>Asignar Asignatura</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Usuario</ion-label>
    <ion-select [(ngModel)]="selectedUserId">
      <ion-select-option *ngFor="let user of users" [value]="user.id">{{ user.username }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Asignatura</ion-label>
    <ion-select [(ngModel)]="selectedAsignaturaId">
      <ion-select-option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">{{ asignatura.nombre }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="asignar()">Asignar</ion-button>
</ion-content>